body {
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 35px;
  color: #707070;
}

a {
  color: #707070;
}

.buy-now-btn {
  padding: 10px 27px 10px 27px;
  border: 1px solid transparent;
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  transition: .3s;
  text-transform: uppercase;
  border-radius: 9px;
}

.buy-now-btn:hover {
  background-color: #374048;
}

#home {
  margin-top: 120px;
  background-image:url("./images/bg2.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}

.buy-now-btn:focus {
  outline: none;
}

.navbar-brand img {
  width: 90%;
}

.nav-item a {
  font-size: 18px;
  font-weight: 500;
}

.section-header h2 {
  font-size: 30px;
  font-weight: 500;
  color: #1F1F1F;
}

.see-all {
  font-size: 22px;
  font-weight: 500;
  color: #FF9D00;
  cursor: pointer;
  transition: .3s;
  border-bottom: 2px solid transparent;
}

.see-all:hover {
  border-bottom: 2px solid #FF9D00;
}

/* carosel css */

#carouselExampleIndicators {
  padding-bottom: 100px;
}

.carousel-item {
  padding: 15px 20px;
  padding-top: 0;
  
}

.carousel-item h1 {
  font-size: 41px;
  font-weight: 500;
  color: #1F1F1F;
  margin-bottom: 20px;
}

.carousel-item p {
  margin-top: 10px;
  padding-bottom: 15px;
}

.carousel-indicators li {
  background-color: #CECECE;
  width: 20px;
  height: 0.1px;
  margin: 0 5px;
  border-radius: 6px;
  background-clip: unset;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.carousel-indicators li.active {
  width: 50px;
  background-color: #FF9C35;
}

.img-aria img {
  width: 100%;
}

.card {
  padding: 12px;
  transition: .3s;
  border: none;
  box-shadow: 0px 10px 30px 0px rgba(0, 3, 143, 0.1)
}

.card-body:hover .card, .single-img:hover {
  transform: translateY(15px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card img {
  transition: .3s;
}

.card img:hover {
  transform: scale(1.1);
}

.card-deck .card {
  padding-top: 30px;
}

.card-img-top {
  width: 90%;
  margin: 0 auto;
}

.card h5 {
  padding: 15px 0;
  font-weight: 500;
  font-size: 24px;
}

.card p {
  font-size: 16px;
  line-height: 30px;
}

.second-laptop img {
  padding-top: 12px;
}

.second-laptop .card-body {
  padding-top: 8px;
}

/* section title  */

.section-title {
  margin-bottom: 40px;
}

.section-title h2 {
  position: relative;
  display: inline-block;
}

.section-title h2::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: -25px;
  height: 9px;
  width: 70%;
  margin: 0 auto;
  border-radius: 9px;
  background-image: linear-gradient(45deg, #FFD019, #FF9C35);
}

.single-img {
  box-shadow: 0px 10px 30px 0px rgba(0, 3, 143, 0.1);
  margin-bottom: 25px;
  padding: 27px 0;
  text-align: center;
  transition: .3s;
}

.single-img img {
  padding-top: 40px;
}

.single-img p {
  padding-top: 10px;
}

img {
  cursor: pointer;
}

.single-img p.shoes {
  margin-top: -25px !important;
}

.left-side img {
  transition: .3s;
}

.left-side img:hover {
  transform: translateX(15px);
}

.review-author img {
  border-radius: 50%;
  width: 100px;
  margin-top: 25px;
}

/* subscribe aria style */

.subscribe .section-title p {
  margin-top: 65px !important;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 25px;
}

.form-control:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.bg-lightgrey {
  background-color: #f8f9fb;
}

.sb-btn {
  background-image: linear-gradient(45deg, #FFD019, #FF9C35);
  justify-content: center;
  display: flex;
  border-radius: 0 25px 25px 0;
}

/* footer  */

footer {
  padding: 60px 0 20px;
  background: #f0f2f6;
}

.footer-title {
  margin: 30px 0 0;
}

.footer-title h6 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 25px;
}

.footer-title p {
  font-size: 16px;
  color: #818697;
  line-height: 1.7;
}

.footer-title ul {
  padding: 0;
  margin: 0;
}

.footer-title ul li {
  list-style: none;
}

.footer-title ul li a {
  color: #818697;
  line-height: 1.8;
}

.copyright {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}